#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: blueviolet;
    font-size: 1.25rem;
    color: white;
    position: absolute;
}